In [1]:
#!pip install arrow icalendar

In [2]:
from nuliga_event_search import *
SEASON = 'Sommer 2023'
CLUBS = {
    'TC Alfeld Mannschaften': 'https://tnb.liga.nu/cgi-bin/WebObjects/nuLigaTENDE.woa/wa/clubTeams?club=16473',
    'TSV Gronau Mannschaften': 'https://tnb.liga.nu/cgi-bin/WebObjects/nuLigaTENDE.woa/wa/clubTeams?club=16486',
}

process_season_clubs(season=SEASON, clubs=CLUBS, output_dir=Path('.'))

could not find expected nr. of tables > 3
TC Alfeld II: Herren Verbandsliga Gr. 207

,Tag,Datum,Heimmannschaft,Gastmannschaft,Matchpunkte,Sätze,Spiele,Spielbericht
0,So.,07.05.2023,TC Alfeld II,TC GW Gifhorn,,,,offen
1,So.,14.05.2023,MTV Wolfenbüttel,TC Alfeld II,,,,offen
2,Sa.,03.06.2023 15:00,TC Alfeld II,TC Sommerbostel II,,,,offen
3,So.,18.06.2023,Tennisclub Gieboldehausen e.V.,TC Alfeld II,,,,offen
4,So.,02.07.2023,TC Alfeld II,SV GW Waggum,,,,offen
5,So.,20.08.2023,TV Salzgitter-Gebhardshagen,TC Alfeld II,,,,offen

[Errno 2] No such file or directory: 'TC Alfeld Mannschaften\\Sommer 2023 TC Alfeld II Herren Verbandsliga Gr. 207.ics'
TC Alfeld: Herren 30 Verbandsklasse Gr. 306

,Tag,Datum,Heimmannschaft,Gastmannschaft,Matchpunkte,Sätze,Spiele,Spielbericht
0,So.,14.05.2023,TV Vienenburg,TC Alfeld,,,,offen
1,So.,04.06.2023,MTV Markoldendorf,TC Alfeld,,,,offen
2,So.,18.06.2023,TV Salzgitter-Gebhardshagen,TC Alfeld,,,,offen
3,So.,25.06.2023,TC Alfeld,TC PTB e.V. Braunschweig,,,,offen
4,So.,02.07.2023,TC Alfeld,Heidberger TC III,,,,offen
5,So.,20.08.2023,TC Alfeld,Hildesheimer TV,,,,offen

[Errno 2] No such file or directory: 'TC Alfeld Mannschaften\\Sommer 2023 TC Alfeld Herren 30 Verbandsklasse Gr. 306.ics'
TC Alfeld: Herren 40 Bezirksklasse Gr. 402

,Tag,Datum,Heimmannschaft,Gastmannschaft,Matchpunkte,Sätze,Spiele,Spielbericht
0,So.,07.05.2023,TC Alfeld,TSV Hespe,,,,offen
1,So.,14.05.2023,TC Alfeld,TV Hess.-Oldendorf,,,,offen
2,So.,04.06.2023 14:00,TV Bennigsen,TC Alfeld,,,,offen
3,So.,25.06.2023,TC Alfeld,TC Benstorf,,,,offen
4,So.,02.07.2023 10:00,SC Börry,TC Alfeld,,,,offen
5,So.,20.08.2023,SG Liekwegen/Sülbeck/Südhorsten II,TC Alfeld,,,,offen

[Errno 2] No such file or directory: 'TC Alfeld Mannschaften\\Sommer 2023 TC Alfeld Herren 40 Bezirksklasse Gr. 402.ics'
TC Alfeld: Herren 50 2. Regionsklasse Gr. 537

,Tag,Datum,Heimmannschaft,Gastmannschaft,Matchpunkte,Sätze,Spiele,Spielbericht
0,Sa.,06.05.2023 15:00,TC GRE Hildesheim IV,TC Alfeld,,,,offen
1,So.,14.05.2023,TC Alfeld,MTV Harsum,,,,offen
2,So.,04.06.2023,Hildesheimer TC Rot-Weiß,TC Alfeld,,,,offen
3,So.,18.06.2023,TC Alfeld,SV RW Ahrbergen II,,,,offen
4,So.,02.07.2023,TC Alfeld,Hildesheimer TV,,,,offen
5,So.,20.08.2023,SV Groß Düngen,TC Alfeld,,,,offen

[Errno 2] No such file or directory: 'TC Alfeld Mannschaften\\Sommer 2023 TC Alfeld Herren 50 2. Regionsklasse Gr. 537.ics'
TC Alfeld: Damen 1. Regionsklasse Gr. 037

,Tag,Datum,Heimmannschaft,Gastmannschaft,Matchpunkte,Sätze,Spiele,Spielbericht
0,So.,07.05.2023,TC Holzminden,TC Alfeld,,,,offen
1,So.,14.05.2023,TC Alfeld,Tennisclub Gieboldehausen e.V.,,,,offen
2,So.,25.06.2023,TC Alfeld,SCW Göttingen III,,,,offen
3,So.,02.07.2023,SV Landschulheim Holzminden,TC Alfeld,,,,offen

[Errno 2] No such file or directory: 'TC Alfeld Mannschaften\\Sommer 2023 TC Alfeld Damen 1. Regionsklasse Gr. 037.ics'
TC Alfeld: Junioren A Bezirksliga (4er) Gr. 639

,Tag,Datum,Heimmannschaft,Gastmannschaft,Matchpunkte,Sätze,Spiele,Spielbericht
0,Sa.,13.05.2023 09:00,TC Alfeld,Braunschweiger MTV,,,,offen
1,Sa.,03.06.2023 09:00,TC Alfeld,Mündener Tennisclub e. V.,,,,offen
2,Sa.,17.06.2023,Braunschweiger THC,TC Alfeld,,,,offen
3,Sa.,01.07.2023,Heidberger TC,TC Alfeld,,,,offen

[Errno 2] No such file or directory: 'TC Alfeld Mannschaften\\Sommer 2023 TC Alfeld Junioren A Bezirksliga (4er) Gr. 639.ics'
TC Alfeld II: Junioren A Regionsklasse (2er) Gr. 723

,Tag,Datum,Heimmannschaft,Gastmannschaft,Matchpunkte,Sätze,Spiele,Spielbericht
0,Sa.,06.05.2023,MTV Markoldendorf,TC Alfeld II,,,,offen
1,Sa.,13.05.2023,SV Groß Düngen,TC Alfeld II,,,,offen
2,Sa.,03.06.2023,TC Alfeld II,TC Ambergau Bockenem II,,,,offen
3,Sa.,17.06.2023,TC Alfeld II,MTV Bodenburg II,,,,offen

[Errno 2] No such file or directory: 'TC Alfeld Mannschaften\\Sommer 2023 TC Alfeld II Junioren A Regionsklasse (2er) Gr. 723.ics'
TC Alfeld: Junioren B Regionsklasse (2er) Gr. 812

,Tag,Datum,Heimmannschaft,Gastmannschaft,Matchpunkte,Sätze,Spiele,Spielbericht
0,Sa.,06.05.2023,MTV Almstedt,TC Alfeld,,,,offen
1,Fr.,12.05.2023 16:00,TC Alfeld,MTV Bodenburg,,,,offen
2,Sa.,03.06.2023,TSV Gronau,TC Alfeld,,,,offen
3,Sa.,17.06.2023,SV Eintracht Bad Salzdetfurth,TC Alfeld,,,,offen
4,Sa.,01.07.2023,TC Alfeld,SC Barienrode,,,,offen

[Errno 2] No such file or directory: 'TC Alfeld Mannschaften\\Sommer 2023 TC Alfeld Junioren B Regionsklasse (2er) Gr. 812.ics'
TC Alfeld: Juniorinnen A Regionsliga (2er) Gr. 911

,Tag,Datum,Heimmannschaft,Gastmannschaft,Matchpunkte,Sätze,Spiele,Spielbericht
0,Sa.,06.05.2023,MTV Bodenburg,TC Alfeld,,,,offen
1,Fr.,12.05.2023 16:00,TC Alfeld,TC GRE Hildesheim,,,,offen
2,Sa.,03.06.2023,TC Alfeld,MTV Almstedt,,,,offen
3,Sa.,01.07.2023,Hildesheimer TC Rot-Weiß,TC Alfeld,,,,offen

[Errno 2] No such file or directory: 'TC Alfeld Mannschaften\\Sommer 2023 TC Alfeld Juniorinnen A Regionsliga (2er) Gr. 911.ics'
TC Alfeld: Juniorinnen B Regionsliga (4er) Gr. 955

,Tag,Datum,Heimmannschaft,Gastmannschaft,Matchpunkte,Sätze,Spiele,Spielbericht
0,Sa.,06.05.2023,TC Alfeld,TC Schwülper,,,,offen
1,Sa.,13.05.2023,TSG Königslutter,TC Alfeld,,,,offen
2,Sa.,03.06.2023,TC Fallersleben,TC Alfeld,,,,offen
3,Sa.,17.06.2023,TSC Göttingen,TC Alfeld,,,,offen
4,Sa.,01.07.2023,TC Alfeld,Braunschweiger THC,,,,offen

[Errno 2] No such file or directory: 'TC Alfeld Mannschaften\\Sommer 2023 TC Alfeld Juniorinnen B Regionsliga (4er) Gr. 955.ics'
TC Alfeld: Juniorinnen C Regionsliga (4er) Gr. 1012

,Tag,Datum,Heimmannschaft,Gastmannschaft,Matchpunkte,Sätze,Spiele,Spielbericht
0,Sa.,06.05.2023 09:00,TC Alfeld,TC GW Gifhorn,,,,offen
1,Sa.,13.05.2023,TSC Isernhagen-Süd,TC Alfeld,,,,offen
2,Sa.,03.06.2023,TSV Isernhagen,TC Alfeld,,,,offen
3,Sa.,17.06.2023,TC Alfeld,DTV Hannover,,,,offen
4,Sa.,01.07.2023,TuS Wettbergen Hannover,TC Alfeld,,,,offen

[Errno 2] No such file or directory: 'TC Alfeld Mannschaften\\Sommer 2023 TC Alfeld Juniorinnen C Regionsliga (4er) Gr. 1012.ics'
TSV Gronau: Herren 30 Regionsliga Gr. 328

,Tag,Datum,Heimmannschaft,Gastmannschaft,Matchpunkte,Sätze,Spiele,Spielbericht
0,So.,07.05.2023,TSV Gronau,TG Lauenförde,,,,offen
1,So.,14.05.2023,VfL Sehlem,TSV Gronau,,,,offen
2,So.,04.06.2023,TV Nörten-Hardenberg,TSV Gronau,,,,offen
3,So.,25.06.2023,TSV Hammenstedt,TSV Gronau,,,,offen
4,So.,02.07.2023,TSV Gronau,TSV Rhüden,,,,offen
5,So.,20.08.2023,TSV Gronau,TSV Eintracht Gillersheim,,,,offen

[Errno 2] No such file or directory: 'TSV Gronau Mannschaften\\Sommer 2023 TSV Gronau Herren 30 Regionsliga Gr. 328.ics'
TSV Gronau: Herren 40 1. Regionsklasse Gr. 435

,Tag,Datum,Heimmannschaft,Gastmannschaft,Matchpunkte,Sätze,Spiele,Spielbericht
0,So.,14.05.2023,TSV Gronau,Hildesheimer TC Rot-Weiß II,,,,offen
1,So.,04.06.2023,TSV Gronau,Hohenhamelner TC,,,,offen
2,So.,18.06.2023,TC Blau Weiß Itzum e.V.,TSV Gronau,,,,offen
3,So.,25.06.2023,TSV Gronau,TV Eintracht Algermissen,,,,offen
4,So.,20.08.2023,VfL Sehlem,TSV Gronau,,,,offen
5,Sa.,02.09.2023 12:00,Tennis-Club Rot-Weiss Elze e.V.,TSV Gronau,,,,offen

[Errno 2] No such file or directory: 'TSV Gronau Mannschaften\\Sommer 2023 TSV Gronau Herren 40 1. Regionsklasse Gr. 435.ics'
TSV Gronau: Damen 30 Bezirksklasse Gr. 077

,Tag,Datum,Heimmannschaft,Gastmannschaft,Matchpunkte,Sätze,Spiele,Spielbericht
0,So.,07.05.2023,SC Grün-Weiß Großenvörde,TSV Gronau,,,,offen
1,So.,14.05.2023,TV Letter,TSV Gronau,,,,offen
2,So.,04.06.2023,TSV Gronau,TG Nieders./FC Schwalbe Döhren II,,,,offen
3,So.,25.06.2023,TSV Gronau,TV Bad Münder,,,,offen
4,So.,02.07.2023,TSV Gronau,T.C. Bischofshol,,,,offen

[Errno 2] No such file or directory: 'TSV Gronau Mannschaften\\Sommer 2023 TSV Gronau Damen 30 Bezirksklasse Gr. 077.ics'
TSV Gronau: Junioren B Regionsklasse (2er) Gr. 812

,Tag,Datum,Heimmannschaft,Gastmannschaft,Matchpunkte,Sätze,Spiele,Spielbericht
0,Sa.,06.05.2023,TSV Gronau,SC Barienrode,,,,offen
1,Sa.,13.05.2023,SV Eintracht Bad Salzdetfurth,TSV Gronau,,,,offen
2,Sa.,03.06.2023,TSV Gronau,TC Alfeld,,,,offen
3,Sa.,17.06.2023,TSV Gronau,MTV Almstedt,,,,offen
4,Sa.,01.07.2023,MTV Bodenburg,TSV Gronau,,,,offen

[Errno 2] No such file or directory: 'TSV Gronau Mannschaften\\Sommer 2023 TSV Gronau Junioren B Regionsklasse (2er) Gr. 812.ics'
TSV Gronau: Juniorinnen A Regionsklasse (2er) Gr. 940

,Tag,Datum,Heimmannschaft,Gastmannschaft,Matchpunkte,Sätze,Spiele,Spielbericht
0,Sa.,06.05.2023,TSV Gronau,TC Holzminden,,,,offen
1,Sa.,13.05.2023,MTV Harsum,TSV Gronau,,,,offen
2,Sa.,03.06.2023,TC Aerzen II,TSV Gronau,,,,offen
3,Sa.,17.06.2023,TSV Gronau,SV Eintracht Bad Salzdetfurth II,,,,offen
4,Sa.,01.07.2023,TSV Gronau,Hildesheimer TC Rot-Weiß II,,,,offen

[Errno 2] No such file or directory: 'TSV Gronau Mannschaften\\Sommer 2023 TSV Gronau Juniorinnen A Regionsklasse (2er) Gr. 940.ics'

In [3]:
#!rm *.ics